DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres_db

HOST_URL=http://localhost
SSH_HOST_URL=localhost
DOCKER_HOST_URL=unix://var/run/docker.sock
KEY_FILE_PATH=

# # PgAdmin
# PGADMIN_DEFAULT_EMAIL=admin@admin.com
# PGADMIN_DEFAULT_PASSWORD=admin
